@font-face {
    font-family: RetroGaming;
    src: url("fonts/Retro Gaming.ttf");
    font-size: medium;
}

body{
    background-color: #d3ce65;
    font-family: RetroGaming;
    font-size: medium;
}


#container{
    display: flex;
    align-content: space-evenly;
    justify-content: center;
}

canvas{
    border: 2px solid black;
}
